:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


}



body {
  margin: auto;
  padding: 10px;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #333;
}


